*/__pycache__/
/__pycache__
__pycache__/back_function.cpython-313.pyc
__pycache__/main.cpython-313.pyc
__pycache__/back_function.cpython-312.pyc
__pycache__/main.cpython-312.pyc
automation_config.json
desktop_config.json
renaming_config.json
sorting_profiles.json
vips_config.json
vips_hashes.json
logs_settings.json
settings_config.json